<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LIVROS2"
        tools:targetApi="31">
        <activity
            android:name=".livros.Warcross"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".livros.HaloBrokenCircle"
            android:exported="false" />
        <activity
            android:name=".LivroTest"
            android:exported="false" />
        <activity
            android:name=".livros.Nyxia"
            android:exported="false" />
        <activity
            android:name=".livros.RotasdeColisa"
            android:exported="false" />
        <activity
            android:name=".livros.Os_Doentes"
            android:exported="false" />
        <activity
            android:name=".livros.UmMundoBrilhante"
            android:exported="false" />
        <activity
            android:name=".livros.O_cacador_de_demonios"
            android:exported="false" />
        <activity
            android:name=".livros.Tudo_junto_e_misturado"
            android:exported="false" />
        <activity
            android:name=".livros.Irma_morte"
            android:exported="false" />
        <activity
            android:name=".livros.UmContoDoDestino"
            android:exported="false" />
        <activity
            android:name=".livros.AVidaAlem"
            android:exported="false" />
        <activity
            android:name=".livros.WillGallows"
            android:exported="false" />
        <activity
            android:name=".livros.Rurik"
            android:exported="false" />
        <activity
            android:name=".livros.Mikhail"
            android:exported="false" />
        <activity
            android:name=".livros.Grigori"
            android:exported="false" />
        <activity
            android:name=".livros.SavedKisses3"
            android:exported="false" />
        <activity
            android:name=".livros.SweetKisses2"
            android:exported="false" />
        <activity
            android:name=".livros.HoldingMia"
            android:exported="false" />
        <activity
            android:name=".livros.IronHeart"
            android:exported="false" />
        <activity
            android:name=".livros.ThoseWhoPrey"
            android:exported="false" />
        <activity
            android:name=".livros.QueenOfTheWildwood"
            android:exported="false" />
        <activity
            android:name=".livros.Lightbringer"
            android:exported="false" />
        <activity
            android:name=".livros.Forest_Of_Souls"
            android:exported="false" />
        <activity
            android:name=".livros.BioshockRapture"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Home"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".WebView"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>